# Entornos virtuales
.venv/
venv/
ENV/
env/

# Cachés y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Archivos de DVC
.dvc/tmp/
.dvc/cache/
.dvc/config.local

# Archivos de datos procesados (mantener solo los .dvc)
data/processed/*
!data/processed/*.dvc
!data/processed/.gitkeep

# Archivos de configuración de IDE
.idea/
.vscode/

# Carpeta de Tox
.tox/

.env
reports/figures/*